*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: beige;
}

.link{
    width: 80px;
    height: 80px;
}
.links{
    display: flex;
    justify-content: center;
}
.inicio{
    margin: auto;
    width: 700px;
    display: flex;
    flex-direction: column;
    font-size: 44px;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
#subtitulo-principal{
    margin:auto;
    width: 500px;
    font-size: 24px;
    margin-bottom: 30px;
}
.descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#desc{
    font-size: 24px;
}
#desczinha{
    font-size: 18px;
    text-align: center;
}